* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}


.container {
  display: flex;
  justify-content: center;     
  align-items: center;       
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  background-color: #f0f2f5;
  overflow: hidden;
}


h1 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.form {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

/* Style labels and inputs */
label {
  margin-bottom: 5px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input[type="number"],
input[type="password"],
input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}


button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}




